<!Doctype html>
<html lang="en">
<head>
<meta  http-equiv="X-UA-compatible" content="IE=edge" />
<meta charset ="utf-8"/>
<title>EventManager</title>

 <!--Import Google Icon Font  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Import materialize.css  -->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet"  href="styles.css" type="text/css"/>

<script>

</script>
</head>
<body>
    <!--Import jQuery before materialize.js -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
         <nav class="purple">
      <div class="nav-wrapper">
      <a href="#!" class="logo"><em>EventManager</em></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      
      <ul class="right hide-on-med-and-down" >
        <li><a href="index.html" class="" >Home</a></li>
         <li><a href="addCenter.html" class="">Add Center</a></li>
         <li><a href="details.html" class="">Centers</a></li>
          <li><a href="add.html" class="">Back</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
    <li><a href="index.html" class="" >Home</a></li>
         <li><a href="addCenter.html" class="">Add Center</a></li>
         <li><a href="details.html" class="">Centers</a></li>
          <li><a href="add.html" class="">Back</a></li>
      </ul>
    
    </div>
  </nav>
  <script>
    $(".button-collapse").sideNav();
  </script>
<main>
   <!--<div class="container">
    <div id="manual">
    <ol class="rounded-list2">
      <div class="yourevent"><em>your Events</em>
      <hr>
    
    </div>
        <li><span><em class="eventtype">Event Type : Wedding Reception<em>
            <ul>
                <li>Venue: Diamond center</li>
                <li>Date: 20th November 2018</li>
                <li>Time: 10am</li>
            </ul>
            <button class="editbtn" ><a href="edit.html">edit</a></button><br> <br> <button class="delete">delete</button></li>     
                         
    </ol>

    </div>

  </div>-->
   <div class="row" id="cards">
    <div class="col s12 m6 l6">  
    
    <div class="card">
      <div class="card-image">
        <img src="images/d0.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Emerald Center</p>
          <li><span><em class="eventtype">Event Type : Award presentation<em>
            <ul>
                <li>Venue: Emerald center</li>
                <li>Date: 20th March 2018</li>
                <li>Time: 10am</li>
            </ul>
        </div>
        <div class="card-action">
          <button class="editbtn" ><a href="edit.html">edit</a></button><br> <br> <button class="delete">delete</button></li> 
      </div>
    </div>

    </div>
    </div>

    <div class="col s12 m6 l6">  
    
    <div class="card">
      <div class="card-image">
        <img src="images/d0.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Rubi Center</p>
          <li><span><em class="eventtype">Event Type : BasketBall match<em>
            <ul>
                <li>Venue: Rubi center</li>
                <li>Date: 20th April 2020</li>
                <li>Time: 12am</li>
            </ul>
          
        </div>
        <div class="card-action">
          <button class="editbtn" ><a href="edit.html">edit</a></button><br> <br> <button class="delete">delete</button></li> 
      </div>
    </div>

    </div>
    </div>
    </div>
    <script>
    $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
      });
  </script>


  <div class="container" style="max-width:1000px">
      <div class="card">
        <div class="container">
          <h4 class="center-heading2">Add Event</h4>
        </div>
        <form class="card-content">
          <div class="row">
            <div class="input-field col s6">
              <input id="eventtype" type="text" class="validate" />
              <label for="event">Event-type</label>
            </div>
          
            <div class="input-field col s6">

                <select>
      <option value="" disabled selected>Select Center</option>
      <option value="1">Maple Center</option>
      <option value="2">Topaz Center</option>
      <option value="3">Emerald Center</option>
      <option value="1">Diamond Center</option>
      <option value="2">Gold Center</option>
      <option value="3">rubie Center</option>
    </select>
    
              
            </div>
         
    
            <div class="input-field col s6">
               <select>
      <option value="" disabled selected>Select Day</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
            
            </div>
        
            
              <div class="input-field col s6">
    <select>
      <option value="" disabled selected>Select Month</option>
      <option value="1">Jan</option>
      <option value="2">Feb</option>
      <option value="3">Mar</option>
      <option value="4">Apr</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">Jul</option>
      <option value="8">August</option>
      <option value="9">september</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    
    </div>
             

              <div class="input-field col s6">
    <select>
      <option value="" disabled selected>Select year</option>
      <option value="1">2017</option>
      <option value="2">2018</option>
      <option value="3">2019</option>
      <option value="4">2020</option>
      <option value="5">2021</option>
      <option value="6">2022</option>
      <option value="7">2023</option>
      <option value="8">2024</option>
      <option value="9">2025</option>

    </select>
    
    </div>


   <div class="input-field col s6">
    <select>
      <option value="" disabled selected>Select Time</option>
      <option value="1">1pm</option>
      <option value="2">6am</option>
      <option value="3">10pm</option>
      <option value="4">12noon</option>
      <option value="5">4pm</option>
      <option value="6">9am</option>
    
    </select>
    
    </div>
   </div>
   <script>
     $(document).ready(function() {
        $('select').material_select();
    });
  </script>



          <div class="row right-align">
            <button class="delete" type="submit" name="action"> Add Event<i class="material-icons">add</i>
            </button>
          </div>
        </form>
      </div>
    </div>


</main>
  
    
  <!-- foter -->
   <center><footer class=""  id="footertext">
      
    <div class="footer-copyright">
      <div class="container" >
      	<span id='footertext'>© Copyright 2017. All rights reserved </span>
      </div>
    </div>
  </footer></center>
  
</body>
</html>