<!Doctype html>
<html lang="en">
<head>
<meta  http-equiv="X-UA-compatible" content="IE=edge" />
<meta charset ="utf-8"/>
<title>EventManager</title>

 <!--Import Google Icon Font  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Import materialize.css  -->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet"  href="styles.css" type="text/css"/>

<script>

</script>
</head>
<body>
    <!--Import jQuery before materialize.js -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
<main>
   <div class="row" >
    <div class="col s12 m7 l7">
    <div class="event"><em>EventManager</em></div>
   
     
    </div>
    <div class="col s12 m2 l2">

    </div>
    <div class="col s12 m3 l3" >
      <div id="chain">
    <a href="index.html"  ><em>Home</em></a>
     <a href="addCenter.html"><em>Add Center</em></a>
     <a href="add.html"><em>Back</em></a>
      </div>
    </div>
    </div>

    <div id="eventwrapper">
    <div class="yourevent"><em>Center Details</em></div>
    </div>

    <div class="col s12 m7" id="card">
    <h2 class="header">Topaz Center</h2>
    <div class="card">
      <div class="card-image">
        <img src="images/dinner.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Spice up your dinner, with our state of the art dinner facilities and have a night to remember</p>
          <ul>
              <li id="details">Capacity :</li>
              <li id="indent"> 500</li>
              <li id="details">Location :</li>
              <li id="indent">Precious stones event center No2 old airport road bau</li>
              <li id="details">Schedule Event :</li>
              <li id="indent">Birthday Party 15 may 2018  5pm</li>
              <li id="indent">students gettogether 31 oct 2018 6pm</li>
              <li id="details">Facilites and Equipments :</li>
              <li id="indent">Air conditioner</li>
              <li id="indent">Rest Room</li>
              <li id="indent">Chairs and tables</li>
              <li id="indent">Power supply</li>
              <li id="indent">Changing Room</li>
              <li id="indent">Parking space</li>
              <li id="details"> per hour :</li>
              <li id="indent">#10000</li>
          </ul>
        </div>
        <div class="card-action">
          <button class="editbtn3"><a href="editCenter.html">Edit Center</a></button>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m7" id="card">
    <h2 class="header">Mable Center </h2>
    <div class="card ">
      <div class="card-image">
        <img src="images/wedding.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Give your bride the most awesome wedding experience with  our state of the art wedding center</p>
          <ul>
              <li id="details">Capacity :</li>
              <li id="indent"> 500</li>
              <li id="details">Location :</li>
              <li id="indent">Precious stones event center No2 old airport road bau</li>
              <li id="details">Schedule Event :</li>
              <li id="indent">church service 15 may 2018  7pm</li>
              <li id="indent">wedding reception 31 oct 2018 10am</li>
               <li id="details">Facilites and Equipments :</li>
              <li id="indent">Air conditioner</li>
              <li id="indent">Rest Room</li>
              <li id="indent">Chairs and tables</li>
              <li id="indent">Power supply</li>
              <li id="indent">Changing Room</li>
              <li id="indent">Parking space</li>
              <li id="details"> per hour :</li>
              <li id="indent">#20000</li>
          </ul>
        </div>
        <div class="card-action">
           <button class="editbtn3"><a href="editCenter.html">Edit Center</a></button>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m7" id="card">
    <h2 class="header">Emerald Center</h2>
    <div class="card">
      <div class="card-image">
        <img src="images/conference.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Our conference hall is unparallel</p>
          <ul>
              <li id="details">Capacity :</li>
              <li id="indent"> 5000</li>
              <li id="details">Location :</li>
              <li id="indent">Precious stones event center No2 old airport road bau</li>
              <li id="details">Schedule Event :</li>
              <li id="indent">Seminar 15 may 2018  5pm</li>
              <li id="indent">students lecture 31 december 2018 6pm</li>
               <li id="details">Facilites and Equipments :</li>
              <li id="indent">Air conditioner</li>
              <li id="indent">Rest Room</li>
              <li id="indent">Chairs and tables</li>
              <li id="indent">Power supply</li>
              <li id="indent">Changing Room</li>
              <li id="indent">Parking space</li>
              <li id="details"> per hour :</li>
              <li id="indent">#10000</li>
          </ul>
        </div>
        <div class="card-action">
           <button class="editbtn3"><a href="editCenter.html">Edit Center</a></button>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m7" id="card">
    <h2 class="header">Diamond Center</h2>
    <div class="card">
      <div class="card-image">
        <img src="images/basket.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Our basket ball center is like No other, facilities inspires victories</p>
          <ul>
              <li id="details">Capacity :</li>
              <li id="indent"> 10000</li>
              <li id="details">Location :</li>
              <li id="indent">Precious stones event center No2 old airport road bau</li>
              <li id="details">Schedule Event :</li>
              <li id="indent">Lakers versus Lions 15 January 2018  5pm</li>
              <li id="indent">blackcats versus lagos rats 30 November  6pm</li>
               <li id="details">Facilites and Equipments :</li>
              <li id="indent">Air conditioner</li>
              <li id="indent">Rest Room</li>
              <li id="indent">Chairs and tables</li>
              <li id="indent">Power supply</li>
              <li id="indent">Changing Room</li>
              <li id="indent">Parking space</li>
              <li id="details"> per hour :</li>
              <li id="indent">#50000</li>
          </ul>
        </div>
        <div class="card-action">
           <button class="editbtn3"><a href="editCenter.html">Edit Center</a></button>
        </div>
      </div>
    </div>
  </div>
  
            

</main>
  
    
  <!-- foter -->
   <center><footer class=""  id="footertext">
      
    <div class="footer-copyright">
      <div class="container" >
      	<span id='footertext'>© Copyright 2017. All rights reserved </span>
      </div>
    </div>
  </footer></center>
  
</body>
</html>