<!Doctype html>
<html lang="en">
<head>
<meta  http-equiv="X-UA-compatible" content="IE=edge" />
<meta charset ="utf-8"/>
<title>EventManager</title>

 <!--Import Google Icon Font  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Import materialize.css  -->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet"  href="styles.css" type="text/css"/>

<script>

</script>
</head>
<body>
    <!--Import jQuery before materialize.js -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <nav class="purple">
      <div class="nav-wrapper">
      <a href="#!" class="logo"><em>EventManager</em></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      
      <ul class="right hide-on-med-and-down" >
        <li><a href="index.html" class="" >Home</a></li>
         <li><a href="register.html" class="">Register</a></li>
          <li><a href="add.html" class="">Add Event</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
    <li><a href="index.html" class="" >Home</a></li>
         <li><a href="register.html" class="">Register</a></li>
          <li><a href="add.html" class="">Add Event</a></li>
      </ul>
    
    </div>
  </nav>
  <script>
    $(".button-collapse").sideNav();
  </script>
<main>

      
  <div class="row"  id="slidess">
  <div class="col s12 m1 l1"></div>
  <div class="col s12 m10 l10">

     <!-- slide -->
   
     <div class="slider">
    <ul class="slides" id="slidebox">
     <li>
        <img src="images/Malawi.jpg" class="responsive-img"/> 
        <div class="caption center-align">
          <h3><div class="think">Spice Up your event</div></h3>
          <h4 class="firstslide">With Our state of the art facilities</h4>
        </div>
      </li>
      <li>
        <img src="images/dinner.jpg"> 
        <div class="caption left-align">
          <h3>Have an awesome dinner party</h3>
          
        </div>
      </li>
      <li>
        <img src="images/conference.jpg"> 
        <div class="caption left-align">
          <h3>State of the art conference hall</h3>
          
        </div>
      </li>
      <li>
        <img src="images/wedding.jpg"> 
        <div class="caption right-align">
          <h3><span class="colss">wedding to tell your children about</span></h3>
          
        </div>
      </li>
      <li>
        <img src="images/basket.jpg"> 
        <div class="caption right-align">
          <h3><span class="colss">AND lots MORE</span></h3>
          
        </div>
      </li>
     
     
    </ul>
  
   <script>
   $(document).ready(function(){
      $('.slider').slider();
    });
    </script>
      <!-- end -->
      
  </div>
   </div>

  <div class="col s12 m1 l1"></div>
</div>

<div class="row" >
  
     
  <div class="col s12 m6 l6" id="main2">
    <div class="think">  Thinking about The Center for your Event?</div>
       <div class="about"><em>Doesn't get any better with Precious stone event Center</em></div>
     
  </div>
  <div class="col s12 m1 l1"></div>
  <div class="col s12 m5 l5" id="main">
    <div class="container">
			<div class="row signup-form center-align valign-wrapper">
				<div class="col s12 m12">
					<div class="card">
						<div class="card-content">
							<span class="card-title"><h3 class="center-heading">Login</h3></span>
							<form class="container">
								<div class="row">
									<div class="input-field col s12">
										<input id="email" type="email" class="validate" />
										<label for="email">Email</label>
									</div>
								</div>
								<div class="row">
									<div class="input-field col s12">
										<input id="password" type="password" class="validate" />
										<label for="password">Password</label>
									</div>
								</div>
								<div class="row center-align">
									<button class="signbtn" type="submit" name="action">Login
										<i class="material-icons right">send</i>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>

  



  </main>
  
    
  <!-- foter -->
   <center><footer class=""  id="footertext">
      
    <div class="footer-copyright">
      <div class="container" >
      	<span id='footertext'>© Copyright 2017. All rights reserved </span>
      </div>
    </div>
  </footer></center>
  
</body>
</html>