<!Doctype html>
<html lang="en">
<head>
<meta  http-equiv="X-UA-compatible" content="IE=edge" />
<meta charset ="utf-8"/>
<title>EventManager</title>

 <!--Import Google Icon Font  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Import materialize.css  -->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet"  href="styles.css" type="text/css"/>

<script>

</script>
</head>
<body>
    <!--<Import jQuery before materialize.js -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <nav class="purple">
      <div class="nav-wrapper">
      <a href="#!" class="logo"><em>EventManager</em></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      
      <ul class="right hide-on-med-and-down" >
        <li><a href="index.html" class="" >Home</a></li>
         <li><a href="register.html" class="">Register</a></li>
          <li><a href="add.html" class="">Add Event</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
    <li><a href="index.html" class="" >Home</a></li>
         <li><a href="register.html" class="">Register</a></li>
          <li><a href="add.html" class="">Add Event</a></li>
      </ul>
    
    </div>
  </nav>
  <script>
    $(".button-collapse").sideNav();
  </script>
<main>

      
 


      

<div class="row" >
  
     
  <div class="col s12 m6 l6" id="main2">
    <div class="think">  Thinking about  Centers for your Event?</div>
       <div class="about"><em>It Doesn't get any better with Precious stone event Center</em></div>
     
  </div>
  <div class="col s12 m1 l1"></div>
  <div class="col s12 m5 l5" id="mainform">
     <form class="">
      <input type="text" placeholder="Enter your email" name="Email" required=""/><br>
      <input type="password" placeholder="Enter your Password" name="password" required=""/><br>
      <button class="btn" type="submit">Login</button>
    

  </form>

  </div>
</div>

<!--<div class="row" >
  <div class="col s12 m7 l7" id="main2">-->
      <div class="container" id="sepe">
      <h5 id="steps"> 5 steps To Have An Amazing Time With Our State Of The Art Facilities</h5>

<div id="manual">
<ol class="rounded-list">
    <li><a href="">Register on EventManager App to have unlimited access to the platform</a></li>
    <li><a href="">Login to Have access to our state of the art facilities</a></li>
    <li><a href="">Schedule an event with Us,to spice up your event</a></li>
    <li><a href="">you can also modify an event you added, to suit your needs or Schedule</a></li>
    <li><a href="">you can also delete an event you added</a></li>
                         
</ol>

</div>
      </div> 
  <!--</div>
  <div class="col s12 m7 l5" id="main"></div>
</div>-->

  



  </main>
  
    
  <!-- foter -->
   <center><footer class=""  id="footertext">
      
    <div class="footer-copyright">
      <div class="container" >
      	<span id='footertext'>© Copyright 2017. All rights reserved </span>
      </div>
    </div>
  </footer></center>
  
</body>
</html>