body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
     background-color:white;
 }
 .moda10{
     background-color:#673AB7;
     text-align: center;
     color:#212121;
     padding:2%;
     margin :0%;
 }
 .think{
       font-size: 300%;
       text-shadow:1px 1px 2px #673AB7;
 }
 .about{
     font-size: 100%;
      text-shadow:1px 1px 2px #673AB7;
   text-align: right;
 }
 .about2{
     font-size: 100%;
      text-shadow:1px 1px 2px #673AB7;
   
 }
 .purple{
     background-color:#673AB7  !important; 
     color:#ddd !important;
 }
 #chain a{
     color:#ddd; 
     padding: 3%;
     border-radius: 2%;
     margin:2%;
     font-size: 120%;
      text-shadow:1px 1px 2px #6f0d16;
 }
  #chain a:hover{
     color:#673AB7; 
     padding: 3%;
     font-size: 120%;
 }
 main {
     flex: 1 0 auto;
     margin-bottom: 5%
 }
 #indent{
     text-indent:1%;
     color:#000;
     margin: 1%;
 }
 #details{
    color:#000;
	font-size:120%;
 }
 #backg{
     border:2px solid #ddd;
     padding: 2%;
     border-radius: 3%;
 }
 #card{
     margin-left:10%;
     margin-right: 10%;
     margin-bottom: 3%;
 }
 #cards{
     margin-left:7%;
     margin-right:7%;
     margin-bottom: 2%;
 }
 .header{
     color:#000;
     font-size: 120%;
     text-align: center;
 }


#main{
     margin-top: 1.5%;
     border-radius:5%;
     border:1px solid #ddd;
     margin-bottom: 1.5%;
     
    
}
.register{
     color:#000;
     text-align: center;
     font-size: 160%;
}
#main2{
    margin:3%;
    
}
#main3{
    margin-bottom: 4%;
    
}
.event em{
    padding:3%;
    margin:2%;
	width:100%;
	font-size:210%;
    cursor: pointer;
	color:#ddd;

}
.event{
      background-color:#673AB7;
}
#test{
    margin-bottom: 10%;
}
.yourevent{
    padding:1.3%;
    text-align: center;
	width:100%;
	font-size:210%;
	color:#B71C1C;
    text-shadow: 1px 2px 1px #000;

}
.addevent em{
    padding:3%;
    margin:2%;
    float:left;
    background-color:#673AB7;
	width:100%;
	font-size:210%;
	color:#ddd;

}
#eventwrapper{
    padding:1%;
    margin:2%;
    background-color: #ddd;
	width:96%;
}
#eventwrapper2{
    padding:1%;
    margin:2%;
    background-color: #ddd;
	width:96%;
}


ol {
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.rounded-list a{
    position: relative;
    display: block;
    padding: 2em 2em 2em 2em;
    *padding: .4em;
    margin: 1em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}

.rounded-list a:hover{
    background: #eee;
}

.rounded-list a:hover:before{
    transform: rotate(360deg);  
}

.rounded-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

#manual{
	
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 5%;
}


.rounded-list2 span{
    position: relative;
    display: block;
    padding: 2em 2em 2em 2em;
    *padding: .4em;
    margin: 1em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}

.rounded-list2 span:hover{
    background: #eee;
}

.rounded-list2 span:hover:before{
    transform: rotate(360deg);  
}

.rounded-list2 span:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.rounded-list2 span ul li{
    position: relative;
    display: block;
    padding: 1em 1em 1em 1em;
    *padding: .4em;
    margin: 0.2em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;  
     
}

#editt{
    margin-top: 3%;
}
.eventtype{
	color:#673AB7;     
}

#admin img{
    max-height:50px;
}

#centerpix img{
    margin-left:2%;
}
#centerpix2 img{
    margin-left:2%;
}

label{
    font-size: 20px;
    color:#000;
}


#featured{
   
   font-family: Comic Sans MS;
   font-size:120%;
   color:#000;
   
}

.firstslide{
    padding: 3% 3%;
    border: none;
    font-size: 170%;
    border-radius: 2%;
    letter-spacing: 0.14em;
    text-align: center;
	color:#000;
    text-shadow:1px 1px 2px #6f0d16;

}

div >h5{
    margin-top:1%;
    width:100%;
    padding: 2% 2%;
    border: none;
    font-size: 120%;
    border-radius: 2%;
    letter-spacing: 0.14em;
    text-align: center;
    box-sizing: border-box;
	color:#000;    
}

#ani input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#ani input[type=text]:focus {
    width: 100%;
}


.tex{
    line-height: 190%;
    font-family: realway;
    font-size: 130%; 
    text-align: center; 
    color:white;  
}
.tex a{
    color:#D50000;
}
#footertext{
    margin-top : -18px;
    
    color:#ddd !important;
    background-color:#673AB7 !important;
}


.signbtn{
    width:70%;
    padding: 3% 3%;
    border: none;
    font-size: 100%;
    letter-spacing: 0.14em;
    box-sizing: border-box;
    border-radius:4%;
	color: #fff;
	
    background-color: #673AB7;
   
}
.signbtn4{
    width:100%;
    padding: 3% 3%;
    border: none;
    font-size: 100%;
    letter-spacing: 0.14em;
    box-sizing: border-box;
    border-radius:4%;
	color: #fff;
	
    background-color: #673AB7;
   
}
.signbtn2{
    width:100%;
    padding: 2% 2%;
    border:1px solid #673AB7;
    border-radius:7%;
    font-size: 100%;
    letter-spacing: 0.14em;
    box-sizing: border-box;
	color: #673AB7 !important;
	background-color: #fff;
   
}
.center-heading2{
     padding: 2% 2%;
    /*border:1px solid #ddd;*/
    border-radius:7%;
    text-align: center;
    text-shadow:1px 1px 1px #B71C1C;

}
.delete{
    width:30%;
    padding: 1.8% 1.8%;
    border: none;
    font-size: 100%;
    letter-spacing: 0.14em;
    box-sizing: border-box;
    border-radius:6%;
	color: #fff;
    background-color:#B71C1C;
   
}
.add{
    width:20%;
    padding: 0.8% 0.8%;
    border: none;
    font-size: 100%;
    letter-spacing: 0.14em;
    box-sizing: border-box;
    border-radius:3%;
	color: #fff;
    background-color: #673AB7;
}

button a{
    color:#000;
}


.editbtn{
    width:30%;
    padding: 0.8% 0.8%;
    border: none;
    font-size: 100%;
    text-align: center !important;
    letter-spacing: 0.14em;
    box-sizing: border-box;
    border-radius:4%;
	color:#fff !important;
    text-shadow: 1px 1px 1px #ddd;
	background-color:#673AB7;
   
}
.editbtn3{
    width:100%;
    padding: 3%;
    border: none;
    font-size: 100%;
    letter-spacing: 0.14em;
    box-sizing: border-box;
    border-radius:3%;
	color:#000 !important;
	background-color:#673AB7;
   
}
#editbtn3{
    width:100% !important;
    padding: 3% !important;
    border: none  !important;;
    font-size: 100%  !important;;
    letter-spacing: 0.14em  !important;;
    box-sizing: border-box  !important;;
    border-radius:3%  !important;;
	color:#FFD600 !important;
	background-color:#673AB7 !important;
   
}
.editbtn2{
    width:20%;
    padding: 0.8% 0.8%;
    border: none;
    font-size: 100%;
    letter-spacing: 0.14em;
    box-sizing: border-box;
    border-radius:3%;
	color:#000 !important;
	background-color:#673AB7;
   
}


input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    color:#ddd;
    border:none;
    background-color:#212121;
    box-sizing: border-box;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color:#ddd;
    border:none;
    background-color:#212121;
    display: inline-block;
    box-sizing: border-box;
}

form em{
    padding: 6%;
    margin-left:40%;
	font-size:235%;
    cursor: pointer;
	color:#ddd;
	
}
form em:hover{
    padding: 6%;
	font-size:235%;
    cursor: pointer; 
}

img{
	max-width: 100%;
    
}

.container {
    padding:0.5%;
}

span.psw {
    float: left;
    padding-bottom: 3.5px;
}

 .f span{
	color:#ddd;
}

.f a{
	color:#FFD600;
	text-decoration: none;
}
.animate{
    -webkit-animation: animatezoom 0.8s;
    animation: animatezoom 0.8s ;
}
.animate2{
    -webkit-animation: animatezoom 0.8s;
    animation: animatezoom 0.8s ;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.logo{
    margin-left:1%;
    font-size: 270%;
    text-shadow:  0.2px 0.2px 0.3px #000;
}

#slidess{
    margin-top: 2%;
    margin-bottom: 1%;
    padding:1.5%;

}
#slidebox{
     box-shadow: 2px 3px 2px #000;
}

div > p{
   font-size:120%;
   color:#B71C1C !important;    
}
    






